<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Page One</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Ionic Speech recognition</h3>


  <h4 *ngIf="recognitionResult">Texto reconocido:</h4>
  <ion-spinner *ngIf="recognizing" name="dots" style="font-size: 10rem; text-align: center"></ion-spinner>
  <span #recognitionResult></span>

  <ion-fab right bottom>
    <button ion-fab color="{{mic.color}}" (click)="processSpeech()"><ion-icon name="{{mic.icon}}"></ion-icon></button>
  </ion-fab>


</ion-content>
